.main-body{
    padding: 70px;
}

.house-button{
    padding: 1.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    font-weight: 400;
    border-radius: 0.5em;
    background-color: rgba(93, 117, 117, 0.137);
    background-image: linear-gradient(120deg, rgba(93, 117, 117, 0.137) 0%, rgba(93, 117, 117, 0.137) 50%, rgb(255, 255, 255) 50%);
    text-align: center;
    color: wheat;
    cursor: pointer;
    transition: all 0.4s;
    text-decoration: none;
    box-sizing: border-box;
    text-decoration: none;
    background-blend-mode: darken;
    background-size: 225%;
    font-size: 0.7em;
}

.house-button:hover{
    background-position: 100%;
    color:#000000;
    background-color: #FFFFFF;
}